.container{
    width: 100%;
    height: 90px;
    margin-top: auto;
    display: flex;
    justify-content: end;
    overflow: hidden;
}

.caixas img{
    margin-right: -45px;
    width: 200px;
    height: 195px;
}


@media (max-width: 600px){

    .caixas img{
        margin-right: -90px;
        width: 200px;
        height: 195px;
    }
}
