.container{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divLogo{
    margin-left: 40px;
    cursor: pointer;
}

.divLogo img{
    width: 250px;
    height: 44px;
}

.smallLogo{
    margin-left: 40px;
    display: none;
}

.smallLogo img{
    width: 56px;
    height: 58px;
}

.burger{
    margin-right: 40px;
    display: none;
}

.burger img{
    width: 41px;
    height: 30px;
}


@media (max-width: 600px){

    .divLogo{
        display: none;
    }

    .smallLogo{
        display: inline;
    }

    .burger{
        display: inline;
    }

}

